.appearance {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @media (max-width: 1024px) {
        margin-right: 20px;
    }

    @media (max-width: 570px) {
        margin-bottom: 0;
    }

    &__title {
        color: #fff;
        margin-bottom: 10px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 10px;

        @media (max-width: 570px) {
            margin-bottom: 10px;
        }

        &:last-child {
            margin-right: 0;
        }

        input {
            display: none;

            &:checked + span {
                background-color: rgba(255, 255, 255, 1);
            }
        }

        span {
            display: block;
            padding: 10px 15px;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.65);
            }
        }
    }
}
