.filter {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    &__appearance {
        width: 100%;

        @media (max-width: 1024px) {
            width: auto;
        }

        @media (max-width: 768px) {
            margin-right: 20px;
        }
    }

    &__status {
        margin-right: 20px;

        @media (max-width: 1024px) {
            margin-bottom: 20px;
        }

        @media (max-width: 768px) {
            margin-right: 20px;
        }
    }

    &__btn-search {
        width: 200px;
        text-align: center;
        background-color: #edbd37;
        border-radius: 5px;
        padding: 10px 15px;
        height: auto;
        align-self: flex-end;

        @media (max-width: 1024px) {
            margin-bottom: 20px;
        }

        &:hover {
            background-color: #daab33;
        }
    }
}
