.management {
    background-color: #4a76b8;

    .container {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        width: 100%;
        padding: 15px;
    }

    &__title {
        font-size: 22px;
        width: 100%;
        color: #fff;
        margin-top: 0;
    }

    &__graph {
        width: 40%;
        margin-right: 3%;
    }

    &__filter {
        width: 57%;
    }
}
