.management {
    background-color: #4a76b8;

    .container {
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding: 15px;
    }

    &__title {
        font-size: 22px;
        width: 100%;
        color: #fff;
        margin-top: 0;
    }

    &__graph {
        height: 300px;
        width: 40%;
        margin-right: 3%;

        @media (max-width: 1024px) {
            width: 100%;
            margin-right: 0;
        }

        @media (max-width: 570px) {
            order: 2;
        }
    }

    &__filter {
        width: 57%;

        @media (max-width: 1024px) {
            width: 100%;
        }

        @media (max-width: 570px) {
            order: 1;
        }
    }
}
